.example-tooltip-red {
  border-right: 6px solid transparent;
  margin-right: 5px;
  color: #000 !important;
  background: rgb(238, 86, 86);
  overflow: visible !important;
  position: relative;
}

.example-tooltip-red:before {
  position: absolute;
  content: '';
  display: inline-block;
  background-color: rgb(238, 86, 86);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  right: 40%;
  width: 15px;
  height: 22px;
  top: 30%;
  transform: translateY(100%) rotate(90deg);
}

button {
  margin-block-start: 4rem;
  margin-inline-start: 4.5rem;
}
